src/test/data/oxpoints.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:ns1="http://www.tei-c.org/ns/1.0">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2004/10/xml.xsd"/>
  <!--
    Schema generated from ODD source 2010-03-08T15:03:53Z. 
    Edition: 1.6.0. Last updated on February 12th 2010.
    
  -->
  <!---->
  <xs:complexType name="macro.paraContent" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:model.phrase"/>
      <xs:group ref="ns1:model.inter"/>
      <xs:group ref="ns1:model.global"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="macro.limitedContent" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:model.limitedPhrase"/>
      <xs:group ref="ns1:model.inter"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="macro.phraseSeq" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:model.phrase"/>
      <xs:group ref="ns1:model.global"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="macro.specialPara" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:model.phrase"/>
      <xs:group ref="ns1:model.inter"/>
      <xs:group ref="ns1:model.divPart"/>
      <xs:group ref="ns1:model.global"/>
    </xs:choice>
  </xs:complexType>
  <xs:attributeGroup name="att.datable.w3c.attributes">
    <xs:attributeGroup ref="ns1:att.datable.w3c.attribute.when"/>
    <xs:attributeGroup ref="ns1:att.datable.w3c.attribute.from"/>
    <xs:attributeGroup ref="ns1:att.datable.w3c.attribute.to"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attribute.when">
    <xs:attribute name="when">
      <xs:annotation>
        <xs:documentation>supplies the value of the date or time in a standard form,
      e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attribute.from">
    <xs:attribute name="from">
      <xs:annotation>
        <xs:documentation>indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attribute.to">
    <xs:attribute name="to">
      <xs:annotation>
        <xs:documentation>indicates the ending point of the period in standard
	  form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.responsibility.attributes">
    <xs:attributeGroup ref="ns1:att.responsibility.attribute.cert"/>
    <xs:attributeGroup ref="ns1:att.responsibility.attribute.resp"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.responsibility.attribute.cert">
    <xs:attribute name="cert">
      <xs:annotation>
        <xs:documentation>(certainty) signifies the degree of certainty associated with the intervention or interpretation.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="high"/>
          <xs:enumeration value="medium"/>
          <xs:enumeration value="low"/>
          <xs:enumeration value="unknown"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.responsibility.attribute.resp">
    <xs:attribute name="resp">
      <xs:annotation>
        <xs:documentation>(responsible party) indicates the agency responsible for the intervention or interpretation, for example an
        editor or transcriber.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.editLike.attributes">
    <xs:attributeGroup ref="ns1:att.responsibility.attributes"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attributes">
    <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
    <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
    <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.rend">
    <xs:attribute name="rend">
      <xs:annotation>
        <xs:documentation>(rendition) indicates how the element in question was rendered or presented in the source text.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmlspace">
    <xs:attribute ref="xml:space"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.naming.attributes">
    <xs:attributeGroup ref="ns1:att.naming.attribute.role"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.naming.attribute.role">
    <xs:attribute name="role" type="xs:Name">
      <xs:annotation>
        <xs:documentation>may be used to specify further information about the entity referenced by
this name, for example the occupation of a person, or the status of a place.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attributes">
    <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
    <xs:attributeGroup ref="ns1:att.typed.attribute.subtype"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attribute.type">
    <xs:attribute name="type" type="xs:Name">
      <xs:annotation>
        <xs:documentation>characterizes the element in some sense, using any convenient
 classification scheme or typology.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attribute.subtype">
    <xs:attribute name="subtype" type="xs:Name">
      <xs:annotation>
        <xs:documentation>provides a sub-categorization of the element, if needed</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="model.nameLike.agent">
    <xs:sequence>
      <xs:element ref="ns1:orgName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_alternation">
    <xs:sequence>
      <xs:element ref="ns1:orgName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequence">
    <xs:sequence>
      <xs:element ref="ns1:orgName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:orgName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:orgName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:orgName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.segLike">
    <xs:sequence>
      <xs:element ref="ns1:seg"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.segLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:seg"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.segLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:seg"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.segLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:seg"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.segLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:seg"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.segLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:seg"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.measureLike">
    <xs:sequence>
      <xs:element ref="ns1:geo"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.measureLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:geo"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.measureLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:geo"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.measureLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:geo"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.measureLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:geo"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.measureLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:geo"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.graphicLike">
    <xs:sequence>
      <xs:element ref="ns1:graphic"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.graphicLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:graphic"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.graphicLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:graphic"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.graphicLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:graphic"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.graphicLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:graphic"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.graphicLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:graphic"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.ptrLike">
    <xs:choice>
      <xs:element ref="ns1:ptr"/>
      <xs:element ref="ns1:ref"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.ptrLike_alternation">
    <xs:choice>
      <xs:element ref="ns1:ptr"/>
      <xs:element ref="ns1:ref"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.ptrLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:ptr"/>
      <xs:element ref="ns1:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.ptrLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ptr"/>
      <xs:element minOccurs="0" ref="ns1:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.ptrLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:ptr"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.ptrLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:ptr"/>
      <xs:element maxOccurs="unbounded" ref="ns1:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.global.meta">
    <xs:choice>
      <xs:element ref="ns1:link"/>
      <xs:element ref="ns1:linkGrp"/>
      <xs:element ref="ns1:timeline"/>
      <xs:element ref="ns1:join"/>
      <xs:element ref="ns1:joinGrp"/>
      <xs:element ref="ns1:alt"/>
      <xs:element ref="ns1:altGrp"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.global.meta_alternation">
    <xs:choice>
      <xs:element ref="ns1:link"/>
      <xs:element ref="ns1:linkGrp"/>
      <xs:element ref="ns1:timeline"/>
      <xs:element ref="ns1:join"/>
      <xs:element ref="ns1:joinGrp"/>
      <xs:element ref="ns1:alt"/>
      <xs:element ref="ns1:altGrp"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.global.meta_sequence">
    <xs:sequence>
      <xs:element ref="ns1:link"/>
      <xs:element ref="ns1:linkGrp"/>
      <xs:element ref="ns1:timeline"/>
      <xs:element ref="ns1:join"/>
      <xs:element ref="ns1:joinGrp"/>
      <xs:element ref="ns1:alt"/>
      <xs:element ref="ns1:altGrp"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.global.meta_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:link"/>
      <xs:element minOccurs="0" ref="ns1:linkGrp"/>
      <xs:element minOccurs="0" ref="ns1:timeline"/>
      <xs:element minOccurs="0" ref="ns1:join"/>
      <xs:element minOccurs="0" ref="ns1:joinGrp"/>
      <xs:element minOccurs="0" ref="ns1:alt"/>
      <xs:element minOccurs="0" ref="ns1:altGrp"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.global.meta_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:link"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:linkGrp"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:timeline"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:join"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:joinGrp"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:alt"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:altGrp"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.global.meta_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:link"/>
      <xs:element maxOccurs="unbounded" ref="ns1:linkGrp"/>
      <xs:element maxOccurs="unbounded" ref="ns1:timeline"/>
      <xs:element maxOccurs="unbounded" ref="ns1:join"/>
      <xs:element maxOccurs="unbounded" ref="ns1:joinGrp"/>
      <xs:element maxOccurs="unbounded" ref="ns1:alt"/>
      <xs:element maxOccurs="unbounded" ref="ns1:altGrp"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.milestoneLike">
    <xs:sequence>
      <xs:element ref="ns1:anchor"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.milestoneLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:anchor"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.milestoneLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:anchor"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.milestoneLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:anchor"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.milestoneLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:anchor"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.milestoneLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:anchor"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.labelLike">
    <xs:choice>
      <xs:element ref="ns1:desc"/>
      <xs:element ref="ns1:label"/>
      <xs:element ref="ns1:idno"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.labelLike_alternation">
    <xs:choice>
      <xs:element ref="ns1:desc"/>
      <xs:element ref="ns1:label"/>
      <xs:element ref="ns1:idno"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.labelLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:desc"/>
      <xs:element ref="ns1:label"/>
      <xs:element ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.labelLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:desc"/>
      <xs:element minOccurs="0" ref="ns1:label"/>
      <xs:element minOccurs="0" ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.labelLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:desc"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:label"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.labelLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:desc"/>
      <xs:element maxOccurs="unbounded" ref="ns1:label"/>
      <xs:element maxOccurs="unbounded" ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.noteLike">
    <xs:sequence>
      <xs:element ref="ns1:note"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.noteLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:note"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.noteLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:note"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.noteLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:note"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.noteLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:note"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.noteLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:note"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike">
    <xs:sequence>
      <xs:element ref="ns1:ab"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:ab"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:ab"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ab"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:ab"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:ab"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.divPart">
    <xs:sequence>
      <xs:group ref="ns1:model.pLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.divPart_alternation">
    <xs:sequence>
      <xs:group ref="ns1:model.pLike_alternation"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.divPart_sequence">
    <xs:sequence>
      <xs:group ref="ns1:model.pLike_sequence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.divPart_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="ns1:model.pLike_sequenceOptional"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.divPart_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.pLike_sequenceOptionalRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.divPart_sequenceRepeatable">
    <xs:sequence>
      <xs:group maxOccurs="unbounded" ref="ns1:model.pLike_sequenceRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.persTraitLike">
    <xs:sequence>
      <xs:element ref="ns1:trait"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.persTraitLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:trait"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.persTraitLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:trait"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.persTraitLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:trait"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.persTraitLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:trait"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.persTraitLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:trait"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeTraitLike">
    <xs:choice>
      <xs:element ref="ns1:location"/>
      <xs:element ref="ns1:relation"/>
      <xs:element ref="ns1:trait"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.placeNamePart">
    <xs:sequence>
      <xs:element ref="ns1:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeNamePart_alternation">
    <xs:sequence>
      <xs:element ref="ns1:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeNamePart_sequence">
    <xs:sequence>
      <xs:element ref="ns1:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeNamePart_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeNamePart_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeNamePart_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike">
    <xs:sequence>
      <xs:group ref="ns1:model.placeNamePart"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike_alternation">
    <xs:sequence>
      <xs:group ref="ns1:model.placeNamePart_alternation"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike_sequence">
    <xs:sequence>
      <xs:group ref="ns1:model.placeNamePart_sequence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="ns1:model.placeNamePart_sequenceOptional"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.placeNamePart_sequenceOptionalRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike_sequenceRepeatable">
    <xs:sequence>
      <xs:group maxOccurs="unbounded" ref="ns1:model.placeNamePart_sequenceRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.glossLike">
    <xs:sequence>
      <xs:element ref="ns1:desc"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.addressLike">
    <xs:choice>
      <xs:element ref="ns1:email"/>
      <xs:element ref="ns1:address"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.addressLike_alternation">
    <xs:choice>
      <xs:element ref="ns1:email"/>
      <xs:element ref="ns1:address"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.addressLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:email"/>
      <xs:element ref="ns1:address"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.addressLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:email"/>
      <xs:element minOccurs="0" ref="ns1:address"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.addressLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:email"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:address"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.addressLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:email"/>
      <xs:element maxOccurs="unbounded" ref="ns1:address"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike">
    <xs:choice>
      <xs:group ref="ns1:model.nameLike.agent"/>
      <xs:group ref="ns1:model.placeStateLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.nameLike_alternation">
    <xs:choice>
      <xs:group ref="ns1:model.nameLike.agent_alternation"/>
      <xs:group ref="ns1:model.placeStateLike_alternation"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.nameLike_sequence">
    <xs:sequence>
      <xs:group ref="ns1:model.nameLike.agent_sequence"/>
      <xs:group ref="ns1:model.placeStateLike_sequence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="ns1:model.nameLike.agent_sequenceOptional"/>
      <xs:group minOccurs="0" ref="ns1:model.placeStateLike_sequenceOptional"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.nameLike.agent_sequenceOptionalRepeatable"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.placeStateLike_sequenceOptionalRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.global">
    <xs:choice>
      <xs:group ref="ns1:model.global.meta"/>
      <xs:group ref="ns1:model.milestoneLike"/>
      <xs:group ref="ns1:model.noteLike"/>
      <xs:element ref="ns1:figure"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.addrPart">
    <xs:choice>
      <xs:group ref="ns1:model.nameLike"/>
      <xs:element ref="ns1:addrLine"/>
      <xs:element ref="ns1:street"/>
      <xs:element ref="ns1:postCode"/>
      <xs:element ref="ns1:postBox"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.pPart.data">
    <xs:choice>
      <xs:group ref="ns1:model.measureLike"/>
      <xs:group ref="ns1:model.addressLike"/>
      <xs:group ref="ns1:model.nameLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.pPart.data_alternation">
    <xs:choice>
      <xs:group ref="ns1:model.measureLike_alternation"/>
      <xs:group ref="ns1:model.addressLike_alternation"/>
      <xs:group ref="ns1:model.nameLike_alternation"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.pPart.data_sequence">
    <xs:sequence>
      <xs:group ref="ns1:model.measureLike_sequence"/>
      <xs:group ref="ns1:model.addressLike_sequence"/>
      <xs:group ref="ns1:model.nameLike_sequence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pPart.data_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="ns1:model.measureLike_sequenceOptional"/>
      <xs:group minOccurs="0" ref="ns1:model.addressLike_sequenceOptional"/>
      <xs:group minOccurs="0" ref="ns1:model.nameLike_sequenceOptional"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pPart.data_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.measureLike_sequenceOptionalRepeatable"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.addressLike_sequenceOptionalRepeatable"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.nameLike_sequenceOptionalRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.inter">
    <xs:sequence>
      <xs:group ref="ns1:model.labelLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.inter_alternation">
    <xs:sequence>
      <xs:group ref="ns1:model.labelLike_alternation"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.inter_sequence">
    <xs:sequence>
      <xs:group ref="ns1:model.labelLike_sequence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.inter_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="ns1:model.labelLike_sequenceOptional"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.inter_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.labelLike_sequenceOptionalRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.phrase">
    <xs:choice>
      <xs:group ref="ns1:model.segLike"/>
      <xs:group ref="ns1:model.graphicLike"/>
      <xs:group ref="ns1:model.ptrLike"/>
      <xs:group ref="ns1:model.pPart.data"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.limitedPhrase">
    <xs:choice>
      <xs:group ref="ns1:model.ptrLike"/>
      <xs:group ref="ns1:model.pPart.data"/>
    </xs:choice>
  </xs:group>
  <xs:attributeGroup name="att.personal.attributes">
    <xs:attributeGroup ref="ns1:att.naming.attributes"/>
  </xs:attributeGroup>
  <xs:group name="model.placeLike">
    <xs:sequence>
      <xs:element ref="ns1:place"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="desc">
    <xs:annotation>
      <xs:documentation>(description) contains a brief description of the object documented by its parent element, including its
    intended usage, purpose, or application where this is appropriate.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.limitedContent">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
          <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="email">
    <xs:annotation>
      <xs:documentation>(electronic mail address) contains an e-mail address identifying a location to which
        e-mail messages can be delivered.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="address">
    <xs:annotation>
      <xs:documentation>contains a postal  address, for example of a
        publisher, an organization, or an individual.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
        <xs:sequence maxOccurs="unbounded">
          <xs:group ref="ns1:model.addrPart"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
      <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="addrLine">
    <xs:annotation>
      <xs:documentation>(address line) contains one line of a postal address.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
          <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="street">
    <xs:annotation>
      <xs:documentation>a full street address including any name or number identifying a
        building as well as the name of the street or route on which it is
        located.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="postCode">
    <xs:annotation>
      <xs:documentation>(postal code) contains a numerical or alphanumeric code used as part of a postal address to simplify
        sorting or delivery of mail.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
      <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="postBox">
    <xs:annotation>
      <xs:documentation>(postal box or post office box) contains a number or other identifier for some postal delivery point other than a street
    address.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ptr">
    <xs:annotation>
      <xs:documentation>(pointer) defines a pointer to another location.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="target" use="required">
        <xs:annotation>
          <xs:documentation>specifies the destination of the pointer by supplying one or more URI References</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:anyURI"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
      <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
      <xs:attributeGroup ref="ns1:att.pointing.attribute.evaluate"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ref">
    <xs:annotation>
      <xs:documentation>(reference) defines a reference to another location, possibly modified by additional text or comment.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.paraContent">
          <xs:attribute name="target">
            <xs:annotation>
              <xs:documentation>specifies the destination of the reference by supplying one or more URI References</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction>
                <xs:simpleType>
                  <xs:list itemType="xs:anyURI"/>
                </xs:simpleType>
                <xs:minLength value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
          <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
          <xs:attribute name="type">
            <xs:annotation>
              <xs:documentation>categorizes the pointer in some respect, using any
      convenient set of categories.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="osm"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attributeGroup ref="ns1:att.pointing.attribute.evaluate"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="label">
    <xs:annotation>
      <xs:documentation>contains the label associated with an item in a list; in glossaries, marks the term being
    defined.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
          <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="note">
    <xs:annotation>
      <xs:documentation>contains a note or annotation.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.specialPara">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
          <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
          <xs:attributeGroup ref="ns1:att.responsibility.attribute.cert"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="graphic">
    <xs:annotation>
      <xs:documentation>indicates the location of an inline graphic, illustration, or figure.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="width">
        <xs:annotation>
          <xs:documentation>The display width of the image</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="[\-+]?\d+(\.\d+)?(%|cm|mm|in|pt|pc|px|em|ex|gd|rem|vw|vh|vm)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="height">
        <xs:annotation>
          <xs:documentation>The display height of the image</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="[\-+]?\d+(\.\d+)?(%|cm|mm|in|pt|pc|px|em|ex|gd|rem|vw|vh|vm)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="scale">
        <xs:annotation>
          <xs:documentation>A scale factor to be applied to the image to make it the desired display size</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="xs:double xs:decimal">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:pattern value="(\-?[\d]+/\-?[\d]+)"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="url" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>(uniform resource locator) A URL which refers to the image itself.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
      <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="idno">
    <xs:annotation>
      <xs:documentation>(identifying number) supplies any number or other identifier used to identify a bibliographic item in a
    standardized way.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="type">
        <xs:annotation>
          <xs:documentation>categorizes the number, for example as an ISBN or other standard series.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="obn"/>
            <xs:enumeration value="olis"/>
            <xs:enumeration value="oliscode"/>
            <xs:enumeration value="oucs"/>
            <xs:enumeration value="oxpID"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
      <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="link">
    <xs:annotation>
      <xs:documentation>defines an association or hypertextual link among elements or passages, of some type not more precisely specifiable by other elements.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attributeGroup ref="ns1:att.pointing.attributes"/>
      <xs:attribute name="targets" use="required">
        <xs:annotation>
          <xs:documentation>specifies the identifiers of the elements or passages to be linked or associated.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union memberTypes="xs:anyURI xs:anyURI"/>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="linkGrp">
    <xs:annotation>
      <xs:documentation>(link group) defines a collection of associations or hypertextual links.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="ns1:link"/>
        <xs:element ref="ns1:ptr"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attributeGroup ref="ns1:att.pointing.group.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ab">
    <xs:annotation>
      <xs:documentation>(anonymous block) contains any arbitrary component-level unit of text, acting as an anonymous container for phrase or inter level elements analogous to, but without the semantic baggage of, a paragraph.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.paraContent">
          <xs:attributeGroup ref="ns1:att.global.attributes"/>
          <xs:attributeGroup ref="ns1:att.typed.attributes"/>
          <xs:attribute name="part" default="N">
            <xs:annotation>
              <xs:documentation>specifies whether or not the block is complete.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Y">
                  <xs:annotation>
                    <xs:documentation>(yes) the block is incomplete</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="N">
                  <xs:annotation>
                    <xs:documentation>(no) either the block is complete, or no claim is made as to its completeness</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="I">
                  <xs:annotation>
                    <xs:documentation>(initial) the initial part of an incomplete block</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="M">
                  <xs:annotation>
                    <xs:documentation>(medial) a medial part of an incomplete block</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="F">
                  <xs:annotation>
                    <xs:documentation>(final) the final part of an incomplete block</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="anchor">
    <xs:annotation>
      <xs:documentation>(anchor point) attaches an identifier to a point within a text, whether or not it corresponds with a textual element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attributeGroup ref="ns1:att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="seg">
    <xs:annotation>
      <xs:documentation>(arbitrary segment) represents any segmentation of text below the chunk level.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.paraContent">
          <xs:attributeGroup ref="ns1:att.global.attributes"/>
          <xs:attributeGroup ref="ns1:att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="when">
    <xs:annotation>
      <xs:documentation>indicates a point in time either relative to other elements in the same timeline tag, or absolutely.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attribute name="absolute">
        <xs:annotation>
          <xs:documentation>supplies an absolute value for the time.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
        <xs:annotation>
          <xs:documentation>specifies the unit of time in which the interval value is expressed, if this is not inherited from the parent timeline.
Suggested values include: 1] d(days) ; 2] h(hours) ; 3] min(minutes) ; 4] s(seconds) ; 5] ms(milliseconds) </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="xs:Name">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="d">
                  <xs:annotation>
                    <xs:documentation>(days) </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="h">
                  <xs:annotation>
                    <xs:documentation>(hours) </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="min">
                  <xs:annotation>
                    <xs:documentation>(minutes) </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="s">
                  <xs:annotation>
                    <xs:documentation>(seconds) </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="ms">
                  <xs:annotation>
                    <xs:documentation>(milliseconds) </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="interval">
        <xs:annotation>
          <xs:documentation>specifies the numeric portion of a time interval</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union>
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minExclusive value="0"/>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="unknown"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="since" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>identifies the reference point for determining the time of the current when element, which is obtained by adding the interval to the time of the reference point.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="timeline">
    <xs:annotation>
      <xs:documentation>(timeline) provides a set of ordered points in time which can be linked to elements of a spoken text to create a temporal alignment of that text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:when"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attribute name="origin" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>designates the origin of the timeline, i.e. the time at which it begins.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="unit">
        <xs:annotation>
          <xs:documentation>specifies the unit of time corresponding to the interval value of the timeline or of its constituent points in time.
Suggested values include: 1] d(days) ; 2] h(hours) ; 3] min(minutes) ; 4] s(seconds) ; 5] ms(milliseconds) </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="xs:Name">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="d">
                  <xs:annotation>
                    <xs:documentation>(days) </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="h">
                  <xs:annotation>
                    <xs:documentation>(hours) </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="min">
                  <xs:annotation>
                    <xs:documentation>(minutes) </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="s">
                  <xs:annotation>
                    <xs:documentation>(seconds) </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="ms">
                  <xs:annotation>
                    <xs:documentation>(milliseconds) </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="interval">
        <xs:annotation>
          <xs:documentation>specifies the numeric portion of a time interval</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union>
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minExclusive value="0"/>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="regular"/>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="irregular"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="join">
    <xs:annotation>
      <xs:documentation>identifies a possibly fragmented segment of text, by pointing at the possibly discontiguous elements which compose it.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.glossLike"/>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attributeGroup ref="ns1:att.pointing.attributes"/>
      <xs:attribute name="targets" use="required">
        <xs:annotation>
          <xs:documentation>specifies the identifiers of the elements or passages to be joined into a virtual element.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union memberTypes="xs:anyURI xs:anyURI"/>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="result" type="xs:Name">
        <xs:annotation>
          <xs:documentation>specifies the name of an element which this aggregation may be understood to represent.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="scope" default="root">
        <xs:annotation>
          <xs:documentation>indicates whether the targets to be joined include the entire element indicated (the entire subtree including its root), or just the children of the target (the branches of the subtree).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="root">
              <xs:annotation>
                <xs:documentation>the rooted subtrees indicated by the targets attribute are joined, each subtree become a child of the virtual element created by the join</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="branches">
              <xs:annotation>
                <xs:documentation>the children of the subtrees indicated by the targets attribute become the children of the virtual element (i.e. the roots of the subtrees are discarded)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinGrp">
    <xs:annotation>
      <xs:documentation>(join group) groups a collection of join elements and possibly pointers.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.glossLike"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:join"/>
          <xs:element ref="ns1:ptr"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attributeGroup ref="ns1:att.pointing.group.attributes"/>
      <xs:attribute name="result" type="xs:Name">
        <xs:annotation>
          <xs:documentation>describes the result of the joins gathered in this collection.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="alt">
    <xs:annotation>
      <xs:documentation>(alternation) identifies an alternation or a set of choices among elements or passages.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attributeGroup ref="ns1:att.pointing.attributes"/>
      <xs:attribute name="targets" use="required">
        <xs:annotation>
          <xs:documentation>specifies the identifiers of the alternative elements or passages.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union memberTypes="xs:anyURI xs:anyURI"/>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mode">
        <xs:annotation>
          <xs:documentation>states whether the alternations gathered in this collection are exclusive or
                inclusive.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="excl">
              <xs:annotation>
                <xs:documentation>(exclusive) indicates that the alternation is exclusive, i.e. that at most one of the
                        alternatives occurs.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="incl">
              <xs:annotation>
                <xs:documentation>(inclusive) indicates that the alternation is not exclusive, i.e. that one or more of
                        the alternatives occur.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="weights">
        <xs:annotation>
          <xs:documentation>If mode is , each weight states the probability that
                the corresponding alternative occurs. If mode is incl each
                weight states the probability that the corresponding alternative occurs given that
                at least one of the other alternatives occurs.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="1"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="1"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="altGrp">
    <xs:annotation>
      <xs:documentation>(alternation group) groups a collection of alt elements and possibly pointers.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:alt"/>
        <xs:element ref="ns1:ptr"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attributeGroup ref="ns1:att.pointing.group.attributes"/>
      <xs:attribute name="mode" default="excl">
        <xs:annotation>
          <xs:documentation>states whether the alternations gathered in this collection are exclusive or
                inclusive.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="excl">
              <xs:annotation>
                <xs:documentation>(exclusive) indicates that the alternation is exclusive, i.e. that at most one of the
                        alternatives occurs.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="incl">
              <xs:annotation>
                <xs:documentation>(inclusive) indicates that the alternation is not exclusive, i.e. that one or more of
                        the alternatives occur.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="att.global.linking.attributes">
    <xs:attributeGroup ref="ns1:att.global.linking.attribute.corresp"/>
    <xs:attributeGroup ref="ns1:att.global.linking.attribute.synch"/>
    <xs:attributeGroup ref="ns1:att.global.linking.attribute.sameAs"/>
    <xs:attributeGroup ref="ns1:att.global.linking.attribute.copyOf"/>
    <xs:attributeGroup ref="ns1:att.global.linking.attribute.next"/>
    <xs:attributeGroup ref="ns1:att.global.linking.attribute.prev"/>
    <xs:attributeGroup ref="ns1:att.global.linking.attribute.exclude"/>
    <xs:attributeGroup ref="ns1:att.global.linking.attribute.select"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.linking.attribute.corresp">
    <xs:attribute name="corresp">
      <xs:annotation>
        <xs:documentation>(corresponds) points to elements that correspond to the current
      element in some way.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.linking.attribute.synch">
    <xs:attribute name="synch">
      <xs:annotation>
        <xs:documentation>(synchronous) points to elements that are synchronous with the current
      element.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.linking.attribute.sameAs">
    <xs:attribute name="sameAs" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>points to an element that is the same as the current
      element.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.linking.attribute.copyOf">
    <xs:attribute name="copyOf" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>points to an element of which the current element is a
	copy.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.linking.attribute.next">
    <xs:attribute name="next" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>points to the next element of a virtual aggregate of which
      the current element is part.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.linking.attribute.prev">
    <xs:attribute name="prev" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>(previous) points to the previous element of a virtual aggregate of
      which the current element is part.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.linking.attribute.exclude">
    <xs:attribute name="exclude">
      <xs:annotation>
        <xs:documentation>points to elements that are in exclusive alternation
      with the current element.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.linking.attribute.select">
    <xs:attribute name="select">
      <xs:annotation>
        <xs:documentation>selects one or more alternants; if one alternant is
      selected, the ambiguity or uncertainty is marked as resolved. If
      more than one alternant is selected, the degree of ambiguity or
      uncertainty is marked as reduced by the number of alternants not
      selected.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.pointing.attributes">
    <xs:attributeGroup ref="ns1:att.pointing.attribute.type"/>
    <xs:attributeGroup ref="ns1:att.pointing.attribute.evaluate"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.pointing.attribute.type">
    <xs:attribute name="type" type="xs:Name">
      <xs:annotation>
        <xs:documentation>categorizes the pointer in some respect, using any
      convenient set of categories.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.pointing.attribute.evaluate">
    <xs:attribute name="evaluate">
      <xs:annotation>
        <xs:documentation>specifies the intended meaning when the target of a
      pointer is itself a pointer.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="all">
            <xs:annotation>
              <xs:documentation>if the element pointed to is itself a pointer, then
	  the target of that pointer will be taken, and so on, until
	  an element is found which is not a pointer.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="one">
            <xs:annotation>
              <xs:documentation>if the element pointed to is itself a pointer, then
	  its target (whether a pointer or not) is taken as the target
	  of this pointer.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="none">
            <xs:annotation>
              <xs:documentation>no further evaluation of targets is carried out
	  beyond that needed to find the element specified in the
	  pointer's target.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.pointing.group.attributes">
    <xs:attributeGroup ref="ns1:att.pointing.attributes"/>
    <xs:attributeGroup ref="ns1:att.pointing.group.attribute.domains"/>
    <xs:attributeGroup ref="ns1:att.pointing.group.attribute.targFunc"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.pointing.group.attribute.domains">
    <xs:attribute name="domains">
      <xs:annotation>
        <xs:documentation>optionally specifies the identifiers of the elements
      within which all elements indicated by the contents of this
      element lie.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:union memberTypes="xs:Name xs:Name"/>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="2"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.pointing.group.attribute.targFunc">
    <xs:attribute name="targFunc">
      <xs:annotation>
        <xs:documentation>(target function) describes the function of each of the values of the
      targets attribute of the enclosed link,
      join, or alt tags.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:union>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="2"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="figure">
    <xs:annotation>
      <xs:documentation>groups elements representing or containing graphic information such as an illustration or
    figure.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns1:model.pLike"/>
        <xs:element ref="ns1:figDesc"/>
        <xs:group ref="ns1:model.graphicLike"/>
        <xs:group ref="ns1:model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
      <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="figDesc">
    <xs:annotation>
      <xs:documentation>(description of figure) contains a brief prose description of the appearance or content
of a graphic figure, for use when documenting an image without
displaying it.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.limitedContent">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
          <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="orgName">
    <xs:annotation>
      <xs:documentation>(organization name) contains an organizational name.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
          <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
          <xs:attributeGroup ref="ns1:att.editLike.attributes"/>
          <xs:attributeGroup ref="ns1:att.personal.attributes"/>
          <xs:attributeGroup ref="ns1:att.typed.attribute.subtype"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="placeName">
    <xs:annotation>
      <xs:documentation>contains an absolute or relative place name.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
          <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
          <xs:attributeGroup ref="ns1:att.naming.attributes"/>
          <xs:attributeGroup ref="ns1:att.typed.attribute.subtype"/>
          <xs:attributeGroup ref="ns1:att.editLike.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo">
    <xs:annotation>
      <xs:documentation>(geographical coordinates) contains any expression of a set of geographic coordinates, representing a point, line, or area on the surface of the earth in some
        notation.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="location">
    <xs:annotation>
      <xs:documentation>defines the location of a place as a set of geographical coordinates, in terms of a other named geo-political entities, or as an
        address.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns1:model.labelLike"/>
        <xs:group ref="ns1:model.placeNamePart"/>
        <xs:group ref="ns1:model.measureLike"/>
        <xs:group ref="ns1:model.addressLike"/>
        <xs:group ref="ns1:model.noteLike"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
      <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
      <xs:attribute name="type">
        <xs:annotation>
          <xs:documentation>characterizes the element in some sense, using any convenient
 classification scheme or typology.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="address"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="ns1:att.typed.attribute.subtype"/>
      <xs:attributeGroup ref="ns1:att.datable.w3c.attribute.when"/>
      <xs:attributeGroup ref="ns1:att.editLike.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="org">
    <xs:annotation>
      <xs:documentation>(organization) provides information about an identifiable organization such as a business, a tribe, or
        any other grouping of people.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:idno"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="ns1:model.labelLike"/>
          <xs:group ref="ns1:model.placeTraitLike"/>
          <xs:group ref="ns1:model.nameLike"/>
          <xs:group ref="ns1:model.placeLike"/>
          <xs:group ref="ns1:model.noteLike"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="oxpID"/>
      <xs:attribute name="role">
        <xs:annotation>
          <xs:documentation>specifies a primary role or classification for the organization.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attributeGroup ref="ns1:att.datable.w3c.attributes"/>
      <xs:attributeGroup ref="ns1:att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="place">
    <xs:annotation>
      <xs:documentation>contains data about a geographic location</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.pLike"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="ns1:model.labelLike"/>
            <xs:group ref="ns1:model.placeStateLike"/>
            <xs:group ref="ns1:model.placeTraitLike"/>
          </xs:choice>
        </xs:choice>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.noteLike"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.placeLike"/>
      </xs:sequence>
      <xs:attribute name="oxpID"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
      <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
      <xs:attributeGroup ref="ns1:att.datable.w3c.attributes"/>
      <xs:attributeGroup ref="ns1:att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="relation">
    <xs:annotation>
      <xs:documentation>(relationship) describes any kind of relationship or linkage amongst a specified group of participants.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:desc"/>
      </xs:sequence>
      <xs:attribute name="type" default="personal">
        <xs:annotation>
          <xs:documentation>categorizes the relationship in some respect, e.g. as social, personal or other.
Suggested values include: 1] social; 2] personal; 3] other</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:union memberTypes="xs:Name">
                        <xs:simpleType>
                          <xs:restriction base="xs:token">
                            <xs:enumeration value="social">
                              <xs:annotation>
                                <xs:documentation>relationship concerned with social roles</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                        <xs:simpleType>
                          <xs:restriction base="xs:token">
                            <xs:enumeration value="personal">
                              <xs:annotation>
                                <xs:documentation>relationship concerned with personal roles, e.g. kinship, marriage, etc.</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                        <xs:simpleType>
                          <xs:restriction base="xs:token">
                            <xs:enumeration value="other">
                              <xs:annotation>
                                <xs:documentation>other kinds of relationship</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:union>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:union memberTypes="xs:Name">
                        <xs:simpleType>
                          <xs:restriction base="xs:token">
                            <xs:enumeration value="social">
                              <xs:annotation>
                                <xs:documentation>relationship concerned with social roles</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                        <xs:simpleType>
                          <xs:restriction base="xs:token">
                            <xs:enumeration value="personal">
                              <xs:annotation>
                                <xs:documentation>relationship concerned with personal roles, e.g. kinship, marriage, etc.</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                        <xs:simpleType>
                          <xs:restriction base="xs:token">
                            <xs:enumeration value="other">
                              <xs:annotation>
                                <xs:documentation>other kinds of relationship</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:union>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="name" use="required">
        <xs:annotation>
          <xs:documentation>supplies a name for the kind of relationship of which this is an instance.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="controls"/>
            <xs:enumeration value="occupies"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="passive">
        <xs:annotation>
          <xs:documentation>identifies the passive participants in a non-mutual relationship.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:anyURI"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
      <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
      <xs:attributeGroup ref="ns1:att.datable.w3c.attribute.from"/>
      <xs:attributeGroup ref="ns1:att.editLike.attributes"/>
      <xs:attributeGroup ref="ns1:att.naming.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="trait">
    <xs:annotation>
      <xs:documentation>contains a description of some culturally-determined and in principle unchanging characteristic attributed to a person or place .</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element maxOccurs="unbounded" ref="ns1:trait"/>
        <xs:sequence>
          <xs:group maxOccurs="unbounded" ref="ns1:model.pLike"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.noteLike"/>
        </xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="ns1:model.labelLike"/>
          <xs:group ref="ns1:model.noteLike"/>
        </xs:choice>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
      <xs:attributeGroup ref="ns1:att.global.linking.attributes"/>
      <xs:attributeGroup ref="ns1:att.datable.w3c.attribute.from"/>
      <xs:attributeGroup ref="ns1:att.datable.w3c.attribute.to"/>
      <xs:attributeGroup ref="ns1:att.editLike.attributes"/>
      <xs:attributeGroup ref="ns1:att.naming.attributes"/>
      <xs:attribute name="type">
        <xs:annotation>
          <xs:documentation>characterizes the element in some sense, using any convenient
 classification scheme or typology.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="figure"/>
            <xs:enumeration value="iturl"/>
            <xs:enumeration value="liburl"/>
            <xs:enumeration value="type"/>
            <xs:enumeration value="url"/>
            <xs:enumeration value="weblearn"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="ns1:att.typed.attribute.subtype"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
